body {
  margin: 0;
  color: white;
  background: #11121a;
  font-family: "Merriweather Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

header {
  background: #1c1c24;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 25px;
}

.header-container {
  margin: 0 auto;
  height: 100%;
  justify-content: space-between;

  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 25px;
}
.header-container .header-left {
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.header-container .header-left .logo {
  height: 30px;
  margin-right: 10px;
}

.header-container .header-left .logo img {
  height: 100%;
}

.header-container .header-right {
  display: flex;
}

.header-container .header-right .join-now,
.header-container .header-right .sign-in {
  padding: 7px 16px;
  /* border: 1px solid; */
  border-radius: 50px;
  font-weight: 500;
  line-height: 1.2;
  transition: all 0.2s;
  outline: none;
  cursor: pointer;
  background: orangered;
}

.header-container .header-right .join-now:hover,
.header-container .header-right .sign-in:hover {
  background: rgb(233, 63, 1);
}

.header-container .header-right .join-now {
  margin-right: 30px;
}

.search {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
}

.search-container {
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #222328;
  background-color: #1c1c24;
  display: flex;
}

.input-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.input-container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.input-container i {
  font-size: 20px;
  margin-left: 25px;
}

.input-container #filter-cross {
  margin-right: 20px;
  color: white;
  cursor: pointer;
  display: none;
}

.button-container {
  background-color: orangered;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button-container:hover {
  background: rgb(233, 63, 1);
}

.jobs-list {
  max-width: 1250px;
  width: 100%;
  background-color: #11121a;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  padding-top: 0;
  padding-left: 25px;
  padding-right: 25px;
}

.jobs-list h1 {
  margin-left: 25px;
  font-size: 20px;
}

.jobs-container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  background: #11121a;
}

.job-tile {
  background-color: #1c1c24;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  padding: 30px;
  transition: transform 0.2s;
}

.job-tile:hover {
  transform: scale(1.05);
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.rolename {
  padding: 20px 0px;
}

.rolename span {
  font-size: 22px;
}

.description {
  height: 105px;
  overflow: hidden;
  font-size: 18px;
  color: #96939b;
  flex-grow: 1;
}

.buttons {
  color: black;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 45px;
}

.button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #96939b;
  background-color: #2e2e39;
  font-size: 14px;
}

.apply-now {
  color: white;
  background: orangered;
  margin-right: 15px;
}

@media screen and (max-width: 930px) {
  .jobs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .jobs-container {
    grid-template-columns: 1fr;
  }
}
